<div class="container">
     <div class="jumbotron text-center">
          <h1>Welcome to Your Personal Vault Realm</h1>
          <p>Explore the amazing features we brought for you and your ones!</p>
     </div>
</div>
<div class="table-container">
     <table>
          <thead>
               <tr>

                    <th>Item Id</th>
                    <th>Name</th>
                    <th>A/c</th>
                    <th>IFSC</th>
                    <th>User</th>
                    <th>Secret</th>
                    <th>Details</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Action</th>
               </tr>
          </thead>
          <tbody>
               <tr *ngFor="let item  of itemDetails">

                    <td>{{item.itemId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.accountNo}}</td>
                    <td>{{item.ifscCode}}</td>
                    <td>{{item.user}}</td>
                    <td>{{item.secret}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.created}}</td>
                    <td>{{item.updated}}</td>
                    <td>
                         <button>
                              <i class='far fa-edit'>edit</i>
                         </button>
                    </td>
               </tr>
          </tbody>
     </table>
</div>