div {
     align-content: center;
     width: 400px;
     margin-top: 10px;

     form {
          margin-top: 50px;

          // h1 {
          //      margin-bottom: 20px;
          //      margin-top: 5px;
          // }
     }
}