/* CSS */
body {
     background-color: #f9f9f9;
     font-family: Arial, sans-serif;
}

.container {
     margin-top: 50px;
     background-color: #ffffff;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
     margin-bottom: 20px;
}

label {
     font-weight: bold;
}

.btn-primary {
     background-color: #007bff;
     border: none;
}

.btn-primary:hover {
     background-color: #0056b3;
}

.btn-block {
     width: 100%;
}