<div class="header">
     <h2>About Us</h2>
</div>

<div class="container">
     <h1>Welcome to Your Personal Locker</h1>
     <p>Your Trusted Vault for Important Information</p>

     <h2>Features:</h2>
     <ul class="feature-list">
          <li>End-to-End Encryption: Your data is fully encrypted, ensuring that only you have access to it. Your
               security is our top priority.</li>
          <li>Easy Data Entry: Store your usernames, passwords, notes, and more with a simple and intuitive interface.
          </li>
          <li>24/7 Accessibility: Access your data whenever you need it, from anywhere in the world.</li>
     </ul>

     <h2>About Us:</h2>
     <div class="contact-info">
          <p><strong>Founder:</strong> Keshav</p>
          <p>Contact: +91 7019757634</p>
          <p>Email: keshavraw17@gmail.com </p>