/* styles.css */
.sidebar {
     width: 250px;
     background-color: #e4e1e1;
     height: 100vh;
     padding: 20px;
     margin-top: 18px;
}

.sidebar-menu {
     list-style: none;
     padding: 0;
}

.sidebar-menu li {
     margin-bottom: 10px;
}

.sidebar-menu li a {
     text-decoration: none;
     color: #333;
     font-weight: bold;
     font-size: 18px;
     transition: 0.3s;
     border-radius: 5px;
     padding: 2px 15px;
}

/* Dropdown styles */
.dropdown {
     position: relative;
     display: inline-block;
}

.dropdown-btn {
     cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
     display: block;
}

/* Style the dropdown links */
.dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
     background-color: #ddd;
}

.sidebar-menu {
     .card {
          border-bottom: 0;
          margin-bottom: 10px;

          .card-body {
               padding: 0;

               .sub-links {
                    padding: 8px 10px;
                    margin: 0;
                    padding-bottom: 0;

                    li {
                         list-style: none;

                         button {
                              border: 0;
                              border: 0;
                              background: transparent;
                              border-bottom: 1px solid #ddd;
                              width: 100%;
                              text-align: left;

                         }
                    }
               }
          }
     }

     .card-header {
          padding: 0;
          margin: 0;
          background: #e4e1e1;
          border-bottom: 0;

          h5 {
               font-weight: 600;
               font-size: 16px;
               padding: 0px 0;
               text-decoration: none;
               width: 100%;
               border-radius: 0;

               button {
                    color: #444;
                    font-weight: 600;
                    font-size: 16px;
                    width: 100%;
                    padding: 0;
                    text-decoration: none;
                    border-radius: 0;



                    &:hover {
                         text-decoration: none;
                    }
               }

               button[aria-expanded="true"] {
                    background: #77ae92;
                    color: #fff;
               }

          }
     }
}