<div class="sidebar">
     <ul class="sidebar-menu">
          <ul>
               <li routerLink="/dashboard">Dashboard</li>
               <li routerLink="/items">Items</li>
               <li routerLink="/item/detail">Item Details</li>
               <li routerLink="/view">View</li>
          </ul>
          <!-- <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/category">Create Category</a></li>
          <li><a routerLink="/category">Update Category</a></li>
          <li><a routerLink="/category">Delete Category</a></li>
          <li><a routerLink="/view">View Category</a></li>

          <li><a routerLink="/itemdetails">Create Item Details</a></li>
          <li><a routerLink="/itemdetails">Update Item Details</a></li>
          <li><a routerLink="/itemdetails">Delete Item Details</a></li>
          <li><a routerLink="/view">View Item Details</a></li>

          <li><a routerLink="/items">Create Item</a></li>
          <li><a routerLink="/items">Update Item </a></li>
          <li><a routerLink="/items">Delete Item</a></li>
          <li><a routerLink="/view">View Item</a></li> -->

          <!-- <div id="accordion">
               <div class="card">
                    <div class="card-header">
                         <h5 class="mb-0">
                              <button>
                                   <li><a routerLink="/dashboard">Dashboard</a></li>
                              </button>
                         </h5>
                    </div>
                    <div class="card-header" id="headingOne">
                         <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne">
                                   Category
                              </button>
                         </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                         <div class="card-body">
                              <ul class="sub-links">
                                   <li>
                                        <button type="button" routerLink="category">Create Category</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="category">Update Category</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="category">Delete Category</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="view">View Category</button>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
               <div class="card">
                    <div class="card-header" id="headingTwo">
                         <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                   Item
                              </button>
                         </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                         <div class="card-body">
                              <ul class="sub-links">
                                   <li>
                                        <button type="button" routerLink="items">Create Item</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="items">Update Item</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="items">Delete Item</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="view">View Item</button>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
               <div class="card">
                    <div class="card-header" id="headingThree">
                         <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                   Item Details
                              </button>
                         </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                         <div class="card-body">
                              <ul class="sub-links">
                                   <li>
                                        <button type="button" routerLink="itemdetails">Create Item Details</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="itemdetails">Update Item Details</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="itemdetails">Delete Item Details</button>
                                   </li>
                                   <li>
                                        <button type="button" routerLink="view">View Item Details</button>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div> -->
     </ul>
</div>