<div class="container">
     <div class="row">
          <div class="col">
               <div class="signup-form">
                    <form [formGroup]="signupForm" (submit)="signup()">
                         <h1>Registration</h1>
                         <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" formControlName="email" />
                              <span class="form-error" *ngIf="ferror.email">{{ ferror.email }}</span>
                         </div>
                         <div class="form-group">
                              <label for="firstname">Firstname</label>
                              <input type="text" class="form-control" formControlName="firstname" />
                              <span class="form-error" *ngIf="ferror.firstname">{{ ferror.firstname }}</span>
                         </div>
                         <div class="for-group">
                              <label for="lastname">Lastname</label>
                              <input type="text" class="form-control" formControlName="lastname" />
                              <span class="form-error" *ngIf="ferror.lastname">{{ ferror.lastname }}</span>
                         </div>
                         <div class="form-group">
                              <label for="phoneno">Phone Number</label>
                              <input type="number" class="form-control" formControlName="phone" />
                              <span class="form-error" *ngIf="ferror.phone">{{ ferror.phone }}</span>
                         </div>
                         <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" formControlName="password" />
                              <span class="form-error" *ngIf="ferror.password">{{ ferror.password }}</span>
                         </div>
                         <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
               </div>
          </div>
     </div>
</div>