.container {
     padding: 20px;

}

.jumbotron {
     background-color: #2a3749;
     color: white;
     margin-top: 2px;
}

.card {
     margin-bottom: 20px;
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-title {
     font-size: 1.25rem;
}

.card-text {
     font-size: 1rem;
     color: black;
}